<h1>Sua san pham</h1>
<a routerLink="/">Danh sach san pham</a>
<form (ngSubmit)="update()" [formGroup]="productForm">
  <div>
    <label for="name">Ten san pham</label>
    <input type="text" id="name" formControlName="name">
  </div>
  <div>
    <label for="price">Gia san pham</label>
    <input type="text" id="price" formControlName="price">
  </div>
  <div>
    <label for="quantity">So luong</label>
    <input type="text" id="quantity" formControlName="quantity">
  </div>
  <div>
    <button>Update</button>
  </div>
</form>

